$color-primary: #BA68C8;
$color-secondary: #FAFAFA;
$background-dark: #BDBDBD;
$background-dim: #F5F5F5;
$background-different: #E0E0E0;
$background-light: #EEEEEE;
$background-primary:#E1BEE7;
$background-secondary: #424242;
$background-experiment: #4CAF50;